#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.friend-text {
  color: black;
}

.friend-1 {
  width: 205px;
}

.friend-3 {
  width: 110px;
  font-size: 15px;
}

.friend-4 h6,
.friend-5 h6 {
  font-size: 14px;
}

.friend-6 {
  margin-bottom: 100px;
}
